* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
/* Help classes */

a {
  text-decoration: none;
}
.btn-blue {
  background: cadetblue;
  color: #fff;
}
.btn-red {
  background: rgb(189, 29, 61);
  color: white;
}
.text-red {
  color: rgb(189, 29, 61);
}
.form-border {
  border-bottom: 1px solid #333;
  
}

/* Navbar */
.navbar {
  background: cadetblue;
  color: #fff;
}
.nav-link {
  color: #fff;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-logo h2 {
  margin-right: 4rem;
}
.navbar ul li {
  list-style: none;
}
.dropdown-width {
  min-width: 20rem;
}



/* Shopping Cart */
.img-width {
  width: 100px;
}


/* Product Details */
.details-image {
  width: 30rem;
}